@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #fff;    
    max-height: 100vh;
}
img {
    display: block;
    max-width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 100vh;          
    background-image: linear-gradient(45deg, #db89b6, #db899579);
}

.menuPC {
    visibility: visible;
}
.menuMOBILE {
    visibility: hidden;
    background: #e690d1;
}
nav.navbar{    
    background: #e690d1;
    color: #fff;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.35);
    border: none;
    border-radius: 30px;
    margin-top: 30px;
}
.mainCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    padding: 0 8% 0 8%;    
}

.conteudoTxt h1, span{
    font-size: 58px;
    font-weight: 700;
    width: fit-content;
}
.conteudoTxt span{
    color: #ffdafc;
}
.conteudoTxt p{
    width: 60%;
    text-align: justify;
}
.circuloImg {
    border: solid 10px #ffdafc;
    border-radius: 100%;
    width: 75%;
    margin: 3% 0 0 0;
}
.circuloImg img{    
    border-radius: 50%;
}

.plataformas a, i{
    width: fit-content;
    font-size: 25px;
}